<?php

return [
    'zf-doctrine-repository-query-provider' => [
#        'Db\Entity\User' => [
#            'query_provider' => 'DbApi\Query\Provider\UserQueryProvider',
#            'object_manager' => 'doctrine.entitymanager.orm_default',
#        ],
    ],
];


